/* Define standard variables and values for website */

$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText:#b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;


.smallText {
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  &.bold {
    font-weight: 600;
  }
}


*{
  box-sizing: border-box;
}
.App {

  height: calc(100vh - 90px);
   background: $greyLight;
  display: flex;
}

.navBar{
   width: 240px;
   height:100%;
   padding: 10px 10px 0;
   background: $greyDark; 
   display: flex;
   flex-direction: column;
  .logo{
    padding:1.5rem 0.8rem;
    
  }
  li.new-playlist{
    bottom: 90px;
    position: absolute;
  }
  i {
    margin-right: 5px;
    transform: translateY(1px);
    &:before {
      font-size: 20px;
    }
  }
  span {
    color: #999;
    font-weight: 300;
  }
}
 
ul{
  margin: 0;
  padding: 0;
     a{
       color:inherit;
       text-decoration: none;
      
       &:visited{
         color: inherit;
         text-decoration: none;
       }
     }
  li{
    color:$greyText;
    list-style-type: none;
    border-radius: 3px;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    font-family: circular-bold;
    display: flex;
    align-items: center;
    
    svg{
      fill: currentColor;
      margin-right: 10px;
    }
    &.active{
      background: $greyLighter;
      color: white;
      svg{
        fill: white;
      }
    }
    &:hover{
      color:white;
    }

    
    
  }
}

 .playIcon{
   opacity: 0;
   width: 40px;
   height: 40px;
   display: flex;
   overflow: hidden;
   border-radius: 50%;
   background: $greenMain;
   color: #fff;
   right:1.2rem;
   margin-left: auto;
   bottom: 1.2rem;
  svg{
    margin: auto;
   }

 }

.playlistPage {
  display: flex;
  background-color: rgba( 214 ,214 ,214, 1);
  .mainInner{
    padding: 0.5rem 2rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)) , 
    color-stop(40%, #121212));
    background-image: linear-gradient(rgba(0,0,0,0.5),#121212 40%);
    width: 100%;
    display: flex;
    flex-direction: column;
}
  .playlistPageInfo{
    // width: 300px;
    text-align: center;
    .playlistPageImage{
      height: 250px;
      width: 250px;
      padding: 1.5rem;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  // .playlistPageSongs{
      // background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)),
      // to(#121212));
      // background-image: linear-gradient(rgba(0,0,0,0.6),#121212);
      // height: 100%;
      // .playlistButtons {
      //   display: flex;
      //   align-items: center;
      // }

    //   .playIcon {
    //     @extend .playIcon;
    //     opacity: 1;
    //     position: relative;
    //     margin-left: 0;
    //     height: 50px;
    //     width: 50px;
    //     right: 0;
    //     bottom: 0;
    //     svg {
    //       height: 26px;
    //       width: 26px;
    //     }
    //   }
    //   .icons {
    //     .icon {
    //       margin-left: 1.5rem;
    //     }
    //     .iconsHeart {
    //       width: 28px;
    //       height: 28px;
    //       svg {
    //         fill: white;
    //       }
    //     }
    //   }
    // }
  
  
  .playlistPageContent{
  
    text-align: left;
    padding-left: 2rem;

    h1{
      font-size: 7rem;
      margin: 0;
      line-height: 1;
      font-family: circular-bold;
    }
  }
}

.outerWrap{
  background: grey;
   height: 100vh;
   min-height: 100%;
}


.musicControls{
  background: #282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border-top: 1px solid $greyNav;

 

  .skip-btn{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-style: 18px;
  }
 
  .play-btn{
    display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
    -4px -4px 10px rgba(255, 255, 255, 0.4),
    inset -4px -4px 10px rgba(0, 0, 0, 0.4),
    inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color:$greenMain;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  }
}
  


.upperNav{
  background:rgba(9, 9, 9, 0.78);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  color:white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.main{
  width: 100%;
  overflow-y: scroll;
  position: relative;
  padding-top: 2rem;
  .mainContent{
    color:white;

    .mainInner {
      padding: 0.5rem 2rem;
    }
   
    h2,h3{
      font-size: 1rem;
      
    }
  }
}
.cardWrap{
  padding-bottom: 2rem;
  .cardWrapInner{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));

    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .subText{
    margin-top: 0.5rem;
    color: $greyText;
    margin-bottom: 1.2rem;
    font-family:sans-serif;
    
  }
  .card{
    background: $greyLighter;
    border-radius:10px;
    margin-right: 0.8rem;
    width: 150px;
    overflow: hidden;
    padding: 1.2rem 1.2rem 0.8rem;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    // max-height:280px ;
    &:hover{
      .playIcon{
        opacity: 1;
      }
      cursor: pointer;
    }
   
    .cardImage{
      height: 160px;
      box-shadow: 0 10px 0 rgba( 0, 0, 0, 0.3), 0 1px 2px 0 rgba( 0 ,0 ,0,0.2 );
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cardContent{
      padding: 0.5rem 0;
      h3{
        font-weight:600;
        font-size: 1rem;
        margin-bottom: 0;
        letter-spacing: 0.6px;
      }
    }
  }
}

ul.songList {
  padding: 0;
  li {
    list-style-type: none;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      .songIcon {
        .noteI {
          display: none;
        }
        .playI {
          display: block;
        }
      }
    }
    .songDetails {
      h3 {
        margin: 0;
        font-weight: 300;
        font-size: 1rem;
      }
      span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9rem;
      }
    }
    .songTime {
      margin-left: auto;
    }
    .songIcon {
      padding-right: 1rem;
      .playI {
        display: none;
      }
      svg {
        fill: rgba(255, 255, 255, 0.7);
        width: 15px;
        height: 15px;
      }
    }
  }
}

.curssor{
   &:hover{
    background-color:$greyText ;
    border-radius: 50%;
    height:1.5rem;
   }
  cursor: pointer;
 }

 .modal-content {
  position: relative;
  width: 400px;
  background: #211f27;
  border-radius: 4px;
  padding: 25px;
 height: 50;
}
 

 







